<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{font-family: 'Oswald', sans-serif; font-weight: 400; box-sizing: border-box;}

  body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    margin: 0; padding: 0; border: 0;
}
=======
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

.App {
  text-align: center;
}


*{font-family: 'Fira Sans', sans-serif;}

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

:root {
	--primary-col: #0099e5; /*primary color */
	--primary-col-var: #57b9ff;
	--secondary-col: #616161; /* secondary color */
	--secondary-col-var: #DADADA; /*variant of secondary color */
	--interface-col: #0099e5; /*color of navbar, buttons */
	--bg-col: #ffffff;
	--white-tone: #ffffff; /* white text that in some palettes may be more of an off-white color */
}

body {
	background: var(--bg-col);
}

/***************** NAV BAR STYLING ******************/

nav {
	/* background: var(--interface-col); */
	background-image: linear-gradient(180deg, var(--primary-col-var), var(--primary-col));
	box-shadow: 0 8px 6px -6px #cccccc;
}

nav ul {
	float: right;
	padding-right: 80px;
	display: inline-block;
	line-height: 80px;
}

label.logo
{
	color: var(--white-tone);
	font-size: 35px;
	font-weight: bold;
	line-height: 80px;
	min-width: 500px;
	max-width: 1000px;
	margin: 0 auto;
	padding-left: 80px;
}

.navbar-item {
	transition: .5s;
	font-size: 20px;
	text-decoration: none;
	color: var(--white-tone);
}

/******************************************************/

/**************** GENERAL STYLING ********************/

#container {
	/*width: 960px; margin: 0 auto;*/
	min-width: 500px;
	max-width: 1000px;
	padding-top: 50px;
	width: auto;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

h1 { /* ATHENA LANDING PAGE HEADER TEXT */
	color: var(--primary-col);
	font-size: 110px;
}

h2 { /* PAGE HEADERS */
	color: var(--secondary-col);
	font-size: 30px;
	font-weight: 200;
	margin-bottom: 20px;
}

p {
	color: var(--secondary-col);
	font-size: 22px;
	font-weight: 50;
	text-orientation: center;
}

/*******************************************************************/

/* *********************LOGIN FORM STYLING ***************************/
#login-form {
	border-radius: 15px;
	border: solid 2px var(--secondary-col-var);
	width: 50%;
	border: 5px 10px;
	padding: 30px;
	margin: 30px auto;
	/*transition: .5s;*/
}

#login-form:hover {
	transform: scale(1.05) !important;
	transition: .5s;
}

.data-input {
	background-color: #f6f6f6;
	border: none;
	display: inline-block !important;
	width: 85% !important;
	color: var(--secondary-col);
	font-size: 16px;
	margin: 5px;
	padding: 15px 32px;
	transition: .5s;
}

.data-input::placeholder {
	color: var(--secondary-col-var);
}

.data-input:hover {
	background-color: #fff;
	transition: .5s;
}

.data-input:focus {
	background-color: #fff;
	transition: 0s;
	outline:none;
	border-bottom: solid 2px var(--primary-col-var);
}

button[type="submit"] {
	background-color: var(--primary-col-var);
	border: none !important;
	display: inline-block !important;
	color: white;
	font-size: 16px;
	margin: 5px;
	padding: 15px 32px;
	transition: .5s;
}

button[type="submit"]:hover {
	background-color: var(--primary-col);
	transition: .5s;
	transform: scale(1.05);
}

#signup-link {
	border-radius: 15px;
	border: solid 2px var(--secondary-col-var);
	width: 50%;
	border: 5px 10px;
	padding: 30px;
	margin: 30px auto;
	transition: .5s;
}

#signup-link:hover {
	transform: scale(1.05) !important;
	transition: .5s;
}

.referral {
	color: var(--primary-col-var);
	text-decoration: none;
	transition: .5s;
}

.referral:hover {
	transition: .5s;
	color: var(--primary-col);
}

/***************************************************************************/



>>>>>>> ai/ml
