.explore-page
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #ececec;
    margin-bottom: -22px;
    padding-bottom: 20px;
}


.inspiration {
  height: 335px;
  background: linear-gradient(-156deg,#45548f 0%,#9b42b8 100%);
 }

.left-hand {
  background-image: url(handleft.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: 370px;
  background-position: 0% 90%;
}

.right-hand {
  background-image: url(handright.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: 370px;
  background-position: 100% 10%;
}

.left-poly {
  background-image: url(polyabstract_left.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: 500px;
  /*background-position: 0% 25%;*/
  background-position: 0% 0%;
  background-attachment: fixed;
}

.right-poly {
  background-image: url(polyabstract_right.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: 400px;
  /*background-position: 100% 70%;*/
  background-position: 100% 100%;
  background-attachment: fixed;
}

.inspiration-content{
  color:white;
  /*text-align: center;*/
  min-width: 500px;
  max-width: 1400px;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.discover-content{
  color:#333333; /*black*/
  text-align: center;
  min-width: 500px;
  max-width: 1400px;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.inspiration-content h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 55px;
}

.inspiration-content h2 {
  text-align: center;
  font-size:24px;
  margin-top: 0px;
}

.discover-content h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 55px;
}

.discover-content h2 {
  text-align: center;
  font-size:24px;
  margin-top: 0px;
}








/******************** EXPLORE PHILOSOPHIES *********************************/

.discover-philosophies {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0px 5% 0px 5%;
}

.philosophy-card {
  background-color: white;
  background-size: contain;
  margin: 0px 20px 20px 20px;
  padding: 8px;
  width: 320px;
  height: 427px;
  position: relative;
  border-radius: 8px;
  transition: .3s;
}

.philosophy-card:hover h4 {
  /*text-shadow: 2px 2px 8px #cccccc;*/
  text-decoration: none;
}

.philosophy-card:hover {
  text-decoration: none;
}

.philosophy-card-image{
  margin: 0;
  position: relative;
}

.philosophy-card-image img{
  width: 100%;
  display: block;
  border-radius: 4px;
  box-shadow: 0 0 1.5rem rgb(17 17 17 / 30%);
  transition: .15s;
}

.philosophy-card-descr h4 {
  color:#007bff;
  padding-top: 10px;
  font-size: 30px;
}

.philosophy-card-descr {
  color: #333333;
  font-size: 10px;
}

.philosophy-tags {
  font-size:15px;
  color: #333333;
}


/******************** MORE PHILOSOPHIES BUTTON *********************************/

.down-button {
  background: none;
  margin: 0px 20px 20px 20px;
  padding: 8px;
  width: 400px;
  height: 200px;
  position: relative;
  transition: .3s;
  border: none;
}

.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid purple;
    border-right: 5px solid purple;
    transform: rotate(45deg);
    margin: -30px;
    animation: animate 2s infinite;
    margin-left: 42%;
    margin-top: 20px;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}