.favQuoteCont {
    width: 250px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    /*background-color: #ececec;*/
    background-color: white;
    position: relative;
}

.favQuoteCont>p {
    font-size: 20px;
    margin: 10px;
    color: #3498db;
    /*
    position: relative;
    bottom: 0px;
    left:10px;
    */
    bottom: 10px;
}
.favQuoteCont>h5 {
    margin: 10px;
}
.trash_icon {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right:10px;

}
.trash_icon:hover {
    color: gray;
}