.quotesCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.favorites-page h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 55px;
  color: white;
}

.favorites-page {
	height: 100%;
  background: linear-gradient(-156deg,#45548f 0%,#9b42b8 100%);
  padding-bottom: 21px;
  margin-bottom: -22px;
}

.heartIcon {
    font-size: 50px;
    margin: 10px;
    cursor: pointer;
}

.heartIcon:hover {
    color: lightpink;
}