#phil_cont {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*overflow-x: hidden;*/
    background-color:#ececec;
    margin-bottom: -22px;
    padding-bottom: 20px;
}

.page-bar {
    height: 60px;
    background: linear-gradient(-156deg,#45548f 0%,#9b42b8 100%);
}

.page-bar-content {
  color:white;
  /*text-align: center;*/
  min-width: 500px;
  max-width: 1200px;
  width: auto;
  height: auto;
  margin: 0 auto;
  line-height: 60px;
}

.page-bar-info {
    font-size: 20px;
    padding-left: 10px;
    display: inline-block;
}

.page-bar-name {
    font-size: 20px;
    opacity: .8;
    display: inline-block;
    padding-left: 5px;
}

h3 {
    text-align: center;
    /*margin-left: 470px;*/
}

figure {
    display: flex;
    align-items: center;
    color: #4a4a4a;
    font-size: 25px;
    text-align: start;
    /*width: 100%;*/
  }

.philosophy-descr {
    margin-top: 0px;
    margin-right: 0px;
}

#phil-image {
    border: 2px solid black;
    border-radius: 50%;
    float: left;
}


.philosophy {
    text-align: center;
    width: 100%;
    background-color: white;
    background-size: contain;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    opacity: .95;
}

.related-quote-author {
    font-size: 18px;
    color: black;
}

.related-quotes {
    font-size: 30px;
    color: #90cbc5;
}

#phil_inner_cont {
  min-width: 500px;
  max-width: 1100px;
  width: auto;
  height: auto;
  margin: 0 auto;
}

#phil-image {
    width: 75%;
    max-width: 300px;
    margin: 20px;
}

#phil_title {
    text-align: center;
    font-size: 55px;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 0px;
}

#next_phil_button {
    background-color: #90cbc5;
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 10px;
}
#next_phil_button:hover {
    background-color: gray;
}

#phil_quote {
    font-size: 18px;
    color: black;
}