#quoteOfDay-page {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

#qotd_cont {
    width: 50%;
}

#qotd_title {
    color: white;
    font-size: 55px;
    margin-top: 10px;
}

#qotd_quote {
    color: white;
    font-size: 40px;
    margin-top: 10px;
}

#qotd_author {
    color: white;
    font-size: 25px;
    margin-top: 10px;
}

#qotd_button {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: #90cbc5;
}

#qotd_button:hover {
    background-color: gray;
}