@import url(https://fonts.googleapis.com/css?family=Cabin);

* {
    box-sizing: border-box;
  }
  
.item {
  width: 1000px;
  height: 800px;
  margin: 50px auto;
  padding-top: 75px;
  background-color: transparent;
  text-align: center;
  color: rgba(255, 255, 255, 0.795);
  font-size: 3em;
  position: relative;
}


.scrollText {
    font-size: 15px;
  margin-top: 50px;
  font-family: "Cabin", sans-serif;
  letter-spacing: 12px;
  text-indent: 12px;
  color: white;
  position: absolute;
  left: 44.7%;
  bottom: 0;
  -webkit-animation: colorText 15s ease-out infinite, nudgeText 15s ease-out infinite;
          animation: colorText 15s ease-out infinite, nudgeText 15s ease-out infinite;
}

.mouse {
  background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
  position: absolute;
  bottom: 7%;
  left: 48%;
  width: 52px;
  height: 88px;
  border-radius: 100px;
  background-size: 100% 200%;
  -webkit-animation: colorSlide 15s linear infinite, nudgeMouse 15s ease-out infinite;
          animation: colorSlide 15s linear infinite, nudgeMouse 15s ease-out infinite;
}
.mouse:before, .mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.mouse:before {
  width: 46px;
  height: 82px;
  background-color: #222a30;
  border-radius: 100px;
}
.mouse:after {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation: trackBallSlide 15s linear infinite;
          animation: trackBallSlide 15s linear infinite;
}

@-webkit-keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #4e5559;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #4e5559;
  }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #4e5559;
  }
  90%, 100% {
    background-color: #ffffff;
  }
}

@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #4e5559;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #4e5559;
  }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #4e5559;
  }
  90%, 100% {
    background-color: #ffffff;
  }
}
@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  15%, 19% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  45%, 49% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  75%, 79% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
}
@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  15%, 19% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  45%, 49% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  75%, 79% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
}
@-webkit-keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(8px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(8px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(0);
  }
}
@-webkit-keyframes nudgeText {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(2px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes nudgeText {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(2px);
  }
  90% {
    transform: translateY(0);
  }
}
@-webkit-keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}
@keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}

@keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  @-webkit-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  @-moz-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  @-webkit-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
  }
  
  .twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    -moz-animation: move-background 10s linear infinite;
    -ms-animation: move-background 10s linear infinite;
    -o-animation: move-background 10s linear infinite;
    -webkit-animation: move-background 10s linear infinite;
    animation: move-background 10s linear infinite;
  }
  
  .clouds {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    -moz-animation: move-background 30s linear infinite;
    -ms-animation: move-background 30s linear infinite;
    -o-animation: move-background 30s linear infinite;
    -webkit-animation: move-background 30s linear infinite;
    animation: move-background 30s linear infinite;
  }
  
  .img1 {
    height: 700px;
    width: 700px;
    position: absolute;
    z-index: 3;
    right: 20px;
  }

  .img2 {
    height: 20vh;
    width: 20vh;
    position: absolute;
    z-index: 3;
    left: 200px;
    top: 60px;
  }

  .lefthand {
    height: 45vh;
    width: 50vh;
    position: absolute;
    z-index: 4;
    top: 280px;
  }

  .righthand {
    height: 45vh;
    width: 50vh;
    position: absolute;
    z-index: 4;
    right:25px;
    top: 200px;
  }




#result_back_button {
  position: fixed;
  top: 40px;
  left: 20px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 25px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.589);
}

#result_back_button:hover {
  background-color: rgba(255, 255, 255, 0.74);
}

#input_analysis_button {
  position: fixed;
  top: 40px;
  right: 20px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 25px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.589);
}

#input_analysis_button:hover {
  background-color: rgba(255, 255, 255, 0.74);
}

.heart_button {
  cursor: pointer;
}

.likes_display {
  font-size: 20px;
}




.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0; 
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}

.stage {
  align-items: center;
  text-align: center;
  align-content: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}






.quotePage h1,
.quotePage h2,
.quotePage h3,
.quotePage h4 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.quotePage h1 {
  font-size: 3em;
}

.menu {
  filter: url("#shadowed-goo");
  background: none;
  width: 60px;
  height: 60px;
}

.menu-item, .menu-open-button {
  background: #9b42b8;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  margin-left: -20px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
  font-size: 30px;
  cursor: pointer;
}

.icon {
  width: 25px;
  height: 25px;
  position: relative;
  left: 8px;
  bottom: 21px;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 20px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 53%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}

.hamburger-1 {
  transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
  left: 50%;
  margin-left: -80px;
  padding-top: 20px;
  padding-left: 80px;
  width: 650px;
  height: 150px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item:hover {
  background: #b887c9;
  color: #00bcd4;
}
.menu-item:nth-child(3) {
  transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  color: #b47cc7;
}

.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 190ms;
  transform: translate3d(110px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 290ms;
  transform: translate3d(220px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 390ms;
  transform: translate3d(330px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 490ms;
  transform: translate3d(440px, 0, 0);
}




.analysisModal {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}


.analysisText {
  width: 1000px;
	height: 750px;	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  border-radius: 25px;
  border-color: red;
  background-color: #323639;
  text-align: center;
  font-size: 30px;
  color: #eeeeee;
}

.analysisText img {
  width: 60%;
  height: 60%;
}

.closeAnalysisModal {
  margin-top: 10px;
  opacity: 100%;
  background-color: #90cbc5;
  width: 100px;
  border-radius: 8px;
}


.reportModal {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 60%;
  width: 100%;
  height: 100%;
}


.reportText {	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border-radius: 25px;
  height: 280px;
  width: 500px;
  border-color: red;
  background-color: white;
  text-align: center;
  font-size: 30px;
}

.reportInput {
  width: 100%;
  height: 50%;
  border: 1px solid black;
  font-size: 18px;
}

.submitReportModal {
  opacity: 100%;
  background-color: #90cbc5;
  width: 100px;
  border-radius: 8px;
}

.twitter-share-button:hover {
    color: rgb(162, 71, 162);
}




.userInputML {
  font-size: 40px;
}

.sentiment {
  font-size: 40px;
  color: #eeeeee;
}

.sentiment-symbol img {
  width: 125px;
}

.toolTipML {
  position: relative;
  display: inline-block;
  padding-right: 10px;
}

.toolTipML .toolTipPOS {
  visibility: hidden;
  background-color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: 20px;

  width: 80px;
  bottom: 100%;
  left: 50%;
  margin-left: -40px;
}

.toolTipML:hover .toolTipPOS {
  visibility: visible;
}

.toolTipML .toolTipPOS::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}