.transition {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: -1;
}

.transition-bg {
    height:100%;
    width:1600%;
    background: url(transition_sprite.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    animation: cd-sequence 0.8s steps(17);
    animation-fill-mode: forwards;
}

@keyframes cd-sequence {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }

}

#out_cont {
    width: 100%;
    height: 100%;
    top:0%;
    position: fixed;
    display: flex;
    justify-content: center;
}

#survey_cont {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 30px;
}

.survey_title {
    font-size: 30px;
    color: white;
}

#question_cont {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    justify-content: center;
    text-align: center;
    /*background-color: white;*/
    border-radius: 20px;
    margin-top: 10px;
}

#question_cont > .button_cont {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#question_cont > .button_cont > button {
    width: 100%;
    border: none;
    outline: none;
    background-color: white;
    font-size: 40px;
    color: #3498db;
}

#ques {
    width: 80%;
    padding: 10px;
}

.input_ques {
    background-color: #cccfd1;
    border-radius: 5px;
}

#submit_survey {
    width: 20%;
    align-content: center;
}

#mult_choice {
    display: flex;
    flex-direction: column;
}

#results_out_cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#results_cont {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 250px;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
}