.transition {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: -1;
}

.transition-bg {
    height:100%;
    width:1600%;
    background: url(transition_sprite.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    animation: cd-sequence 0.8s steps(17);
    animation-fill-mode: forwards;
}

@keyframes cd-sequence {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }

}

#out_cont {
    width: 100%;
    height: 100%;
    top:0%;
    position: fixed;
    display: flex;
    justify-content: center;
}

#survey_cont {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 10px;
}

.survey_title {
    top: 0%;
    font-size: 40px;
    color: white;
}

#question_cont {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    justify-content: center;
    text-align: center;
    /*background-color: white;*/
    border-radius: 20px;
    margin-top: 10px;
}

#question_cont > .button_cont {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#question_cont > .button_cont > button {
    width: 100%;
    border: none;
    outline: none;
    background-color: white;
    font-size: 40px;
    color: #3498db;
}

#ques {
    width: 80%;
    padding: 10px;
    font-size: 40px;
    color: #fcfcfc;
}

.input_ques {
    /*
    background-color: #cccfd1;
    border-radius: 5px;
    */
    background:transparent;
}

.input_ques {
   outline: 0;
   margin-top: 20px;
   width: 50%;
   /*border: 1px solid rgba(255,255,255,0.9);*/
   border: 0;
   padding-left: 5px;
   background-color: rgba(255,255,255,0.9);
   border-radius: 3px;
   /*text-align: center;*/
   color: black;
   transition-duration: 0.25s;
   font-weight: 300;
}
.input_ques:hover {
   background-color: rgba(255,255,255,0.9);
}
.input_ques:focus {
   background-color: white;
   color: #53e3a6;
   width: 65%;
   border: 3px solid #53e3a6;
   border-top: none;
   border-left: none;
   border-right: none;
}

#submit_survey {
    width: 20%;
    align-content: center;
}

#mult_choice {
    display: flex;
    flex-direction: column;
}

#results_out_cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#results_cont {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 250px;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
}





.arrow-div {
    /*
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     */
}
.arrow-div svg {
    /*
     width: 100px;
     height: auto;
     margin: 0 2rem;
     cursor: pointer;
     overflow: visible;
     */
     cursor: pointer;
     fill: white;
}

.arrow-div svg polygon, .arrow-div svg path {
     transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}
.arrow-div svg:hover polygon, .arrow-div svg:hover path {
     transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
     fill: #90cbc5;
}
.arrow-div svg:hover .arrow {
     animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrow-div svg:hover .arrow-fixed {
     animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
 @keyframes arrow-anim {
     0% {
         opacity: 1;
         transform: translateX(0);
    }
     5% {
         transform: translateX(-0.1rem);
    }
     100% {
         transform: translateX(1rem);
         opacity: 0;
    }
}
 @keyframes arrow-fixed-anim {
     5% {
         opacity: 0;
    }
     20% {
         opacity: 0.4;
    }
     100% {
         opacity: 1;
    }
}
 